@charset "UTF-8";
@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}
@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}
@font-face {
	font-family: PFDinDisplayPro-Normal;
	src: url("../PFDinDisplayPro/PFDinDisplayPro-Regular_35382.ttf");
	font-weight: normal;
}
@font-face {
	font-family: PFDinDisplayPro-Bold;
	src: url("../PFDinDisplayPro/PFDinDisplayPro-Bold_35373.ttf");
	font-weight: bold;
}
@font-face {
	font-family: PFDinDisplayPro-Light;
	src: url("../PFDinDisplayPro/PFDinDisplayPro-Light_35378.ttf");
	font-weight: lighter;
}
/* CSS Document */
* {
	box-sizing: border-box;
	font-family: PFDinDisplayPro-Normal;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	width: 100%;
}
h1 {
	font-size: 2.5em;
	font-family: PFDinDisplayPro-Bold;
}
h2 {
	font-size: 2em;
	font-family: PFDinDisplayPro-Bold;
}
h3 {
	font-size: 1.25em;
	font-family: PFDinDisplayPro-Bold;
}
h4 {
	font-size: 1.10em;
	font-family: PFDinDisplayPro-Bold;
}
.lightbig {
	font-size: 1em;
	font-family: PFDinDisplayPro-Light;
	text-decoration: none;
	color: black;
}
.lightsmall {
	font-size: 0.9em;
	font-family: PFDinDisplayPro-Light;
	text-decoration: none;
	color: black;
}
.bold {
	font-size: 1em;
	font-family: PFDinDisplayPro-Bold;
}
p {
	font-size: 1em;
}
nav a {
	font-size: 0.8em;
}
nav .dropdown-content a {
	font-size: 0.8em;
}
#copyrighttext p {
	font-size: 0.8em;
	font-family: PFDinDisplayPro-Light;
}
body {
	font-size: 100%;
	line-height: 1.5;
}
/* Nav bar with dropdown menu */
nav ul {
	list-style: none;
}
nav li a.button1 {
	display: grid;
	color: black;
	margin: 0 10px;
	height: 100%;
	padding: 10px;
	text-decoration: none;
	justify-content: center;
	align-content: center;
	text-transform: uppercase;
}
nav li a.button2 {
	display: grid;
	color: black;
	margin: 0 10px;
	height: 100%;
	padding: 10px;
	text-decoration: none;
	justify-content: center;
	align-content: center;
	text-transform: uppercase;
}
nav ul a.button3 {
	display: grid;
	color: black;
	margin: 0 10px;
	height: 100%;
	padding: 10px;
	text-decoration: none;
	justify-content: center;
	align-content: center;
	text-transform: uppercase;
}
nav ul a.button4 {
	display: grid;
	color: black;
	margin: 0 10px;
	height: 100%;
	padding: 10px;
	text-decoration: none;
	justify-content: center;
	align-content: center;
	text-transform: uppercase;
}
nav ul a.button5 {
	display: grid;
	color: black;
	margin: 0 10px;
	height: 100%;
	padding: 10px;
	text-decoration: none;
	justify-content: center;
	align-content: center;
	text-transform: uppercase;
}
nav ul a.button6 {
	display: grid;
	color: black;
	margin: 0 10px;
	height: 100%;
	padding: 10px;
	text-decoration: none;
	justify-content: center;
	align-content: center;
	text-transform: uppercase;
}
.dropdown-content.dc1, .dropdown-content.dc1 a {
	background-color: rgba(84, 125, 189, 1.00);
	color: white;
}
.dropdown-content.dc2, .dropdown-content.dc2 a {
	background-color: rgba(227, 38, 38, 1.00);
	color: white;
}
.dropdown-content.dc3, .dropdown-content.dc3 a {
	background-color: rgba(102, 178, 48, 1.00);
	color: white;
}
.dropdown-content.dc4, .dropdown-content.dc4 a {
	background-color: rgba(245, 153, 74, 1.00);
	color: white;
}
.dropdown-content.dc5, .dropdown-content.dc5 a {
	background-color: rgba(234, 226, 55, 1.00);
	color: white;
}
.dropdown-content.dc6, .dropdown-content.dc6 a {
	background-color: rgba(156, 158, 159, 1.00);
	color: white;
}
.nav a:hover, .dropdown:hover .button1 {
	background-color: rgba(84, 125, 189, 1.00);
	color: white;
}
.nav a:hover, .dropdown:hover .button2 {
	background-color: rgba(227, 38, 38, 1.00);
	color: white;
}
.nav a:hover, .dropdown:hover .button3 {
	background-color: rgba(102, 178, 48, 1.00);
	color: white;
}
.nav a:hover, .dropdown:hover .button4 {
	background-color: rgba(245, 153, 74, 1.00);
	color: white;
}
.nav a:hover, .dropdown:hover .button5 {
	background-color: rgba(234, 226, 55, 1.00);
	color: white;
}
.nav a:hover, .dropdown:hover .button6 {
	background-color: rgba(156, 158, 159, 1.00);
	color: white;
}
/*nav ul a.button1.active, a.button2.active, a.button3.active, a.button4.active, a.button5.active {
	border-width: 2px;
	border-style: solid;
	border-color: white;
}*/
nav ul a.buttonh:hover {}
#box1 a, #box2 a, #box3 a, #box4 a {
	display: grid;
	color: black;
	justify-content: flex-end;
	align-content: flex-end;
}
/* Search */
/* Style the submit button */
#search button {
	width: 100%;
	padding: 5px;
	border: none;
	cursor: pointer;
	background-color: white;
}
#search i {
	font-size: 1em;
	color: black;
}
#search button:hover {
	opacity: 0.5;
}
/* Clear floats */
#search::after {
	content: "";
	clear: both;
	display: table;
}
/* Nav bar */
#navfooter ul a {
	display: block;
	color: white;
	text-decoration: none;
	text-align: left;
}
#navfooter ul a:hover {
	opacity: 0.5;
}
#navfooter ul a {
	color: white;
}
nav img {
	width: 15px;
}
li.dropdown.dropdown-content img {
	display: grid;
	justify-content: center;
	text-align: center;
	align-content: center;
}
/* Footer */
#some i {
	font-size: 25px;
	color: black;
}
#some i:hover {
	color: rgba(207, 209, 210, 1.0);
}
#address img {
	height: 100px;
}
#cert img {
	height: 75px;
}
#nextpost i {
	font-size: 25px;
	color: black;
}
#myBtn i:hover {
	color: rgba(207, 209, 210, 1.0)
}
#cert a:hover {
	opacity: 0.5;
}
/* Newsletter */
.newsletter-container h1 {
	text-transform: uppercase;
	margin: 10px 0;
}
.newsletter-container p {
	margin-bottom: 10px;
}
.newsletter-container input[type=checkbox] {
	margin-top: 10px;
}
.newsletter-button input[type=submit] {
	background-color: black;
	color: white;
	border: none;
	text-transform: uppercase;
}
.newsletter-button input[type=submit]:hover {
	opacity: 0.8;
	cursor: pointer;
}
/* Media Queries */
/* Mobile/Small Tablets */
@media (min-width: 320px) and (max-width: 767px) {
	h1, h2 {
		font-size: 1.5em;
	}
	header {
		display: grid;
		height: 40vh;
		width: 100%;
		margin: 10px 0;
		grid-template-areas: 'logo' 'nav';
	}
	.logo {
		grid-area: logo;
		display: grid;
		color: white;
		justify-content: center;
		align-content: center;
	}
	.logo a {
		text-decoration: none;
		margin: 0;
	}
	.logo img {
		width: 100px;
	}
	nav {
		grid-area: nav;
		display: grid;
		margin: 0 10px;
		justify-content: center;
		align-content: center;
		text-align: center;
	}
	nav ul {
		display: grid;
		grid-template-columns: 25vh;
		font-size: 0.9em;
		list-style: none;
	}
	/* The dropdown container */
	.dropdown {
		float: left;
		font-size: 0.9em;
		overflow: hidden;
	}
	/* Dropdown button */
	.dropdown .dropbtn {
		outline: none;
		padding: 10px 10px;
		margin: 0;
	}
	/* Dropdown content (hidden by default) */
	.dropdown-content {
		display: none;
		position: absolute;
		width: 25vh;
		z-index: 1;
	}
	/* Links inside the dropdown */
	.dropdown-content a {
		float: none;
		padding: 10px 10px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	/* Add a grey background color to dropdown links on hover */
	.dropdown-content li:hover {
		opacity: 0.5;
	}
	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
		display: block;
	}
	#search {
		grid-area: search;
		display: none;
		margin-right: 100px;
		justify-content: flex-end;
		align-content: center;
	}
	#slideshow {
		min-height: 100%;
		width: 100%;
		background: white; /* url('../background/backgrounds-blank-blue.jpg') */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#slideshow h2, #slideshow p {
		display: grid;
		margin: 0;
		justify-content: flex-start;
		align-content: center;
	}
	.text h2 {
		display: grid;
		font-size: 1em;
	}
	.text p {
		display: grid;
		font-size: 0.5em;
	}
	/* Slideshow container */
	.slidewindow {
		max-width: 100%;
		position: relative;
		margin: auto;
	}
	.slidewindow img {
		height: 60vh;
		width: 100%;
	}
	/* Hide the images by default */
	.mySlides {
		display: none;
	}
	/* Next & previous buttons */
	#prev, #next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -40px;
		padding: 10px;
		color: black;
		font-weight: bold;
		font-size: 1em;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}
	/* Position the "next button" to the right */
	#next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}
	/* On hover, add a black background color with a little bit see-through */
	#prev:hover, #next:hover {
		background-color: rgba(0, 0, 0, 0.25);
	}
	/* Caption text */
	.text {
		display: grid;
		color: black;
		padding: 20px 40px;
		position: absolute;
		height: 60vh;
		width: 100%;
		top: 0;
		left: 0;
		align-content: center;
		background-color: rgba(255, 255, 255, 0.85);
	}
	.text a {
		display: grid;
		color: black;
		justify-content: flex-end;
	}
	/* Number text (1/3 etc) */
	.numbertext {
		color: black;
		font-size: 15px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}
	/* The dots/bullets/indicators */
	/*.dot {
		display: none;
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 5px;
		background-color: rgba(207, 209, 210, 0.8);
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
	.active, .dot:hover {
		background-color: rgba(156, 158, 159, 0.8);
	}*/
	/* Fading animation */
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}
	#nextpost {
		display: grid;
		justify-content: center;
		align-content: flex-start;
		margin: 10px;
	}
	#boxes {
		display: grid;
		height: 100%;
		width: 100%;
		grid-template-areas: 'b1' 'b2' 'b3' 'b4';
		grid-template-columns: 1fr;
	}
	#box1 {
		grid-area: b1;
		display: grid;
		margin: 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#box2 {
		grid-area: b2;
		display: grid;
		margin: 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#box3 {
		grid-area: b3;
		display: grid;
		margin: 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#box4 {
		grid-area: b4;
		display: grid;
		margin: 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#smallnav {
		grid-area: snav;
		display: block;
		margin: 0 10px;
		font-size: 0.9em;
	}
	#smallnav #navh {
		font-family: PFDinDisplayPro-Light;
		text-decoration: none;
		color: black;
	}
	#smallnav #navf {
		font-family: PFDinDisplayPro-Light;
		text-decoration: none;
		color: black;
		cursor: default;
	}
	#smallnav i {
		display: inline;
		font-size: 0.9em;
		text-decoration: none;
		color: black;
	}
	#smallnav #navactiv {
		display: inline;
		font-family: PFDinDisplayPro-Bold;
		text-decoration: none;
		color: black;
	}
	#headercontact {
		grid-area: headercontact;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 10vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(156, 158, 159, 1.00);
	}
	.contact {
		display: grid;
		height: 100%;
		width: 100%;
		grid-template-areas: 'headercontact' 'snav';
		grid-template-columns: 1fr;
	}
	#contactcnt {
		margin: 20px 20px;
		height: 100%;
	}
	#contactcnt h3 {
		text-transform: uppercase;
		text-align: center;
	}
	#contactcnt p {
		display: grid;
		justify-content: center;
		animation-delay: center;
	}
	#finducnt {
		display: grid;
		height: 100%;
		margin: 20px 20px;
		grid-template-areas: 'findmap' 'findtext';
		grid-template-columns: 1fr;
	}
	#findmap {
		grid-area: findmap;
		display: grid;
		align-content: center;
		justify-content: center;
	}
	#findmap iframe {
		height: 50vh;
		width: 100%;
		border-style: none;
	}
	#findtext {
		grid-area: findtext;
		display: block;
		margin: 10px 0;
	}
	#findtext p {
		display: inline;
	}
	#headerabout {
		grid-area: headerabout;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(234, 226, 55, 1.00);
	}
	.about {
		display: grid;
		height: 100%;
		width: 100%;
		grid-template-areas: 'headerabout' 'snav';
		grid-template-columns: 1fr;
	}
	#aboutcnt {
		display: grid;
		margin: 20px 20px;
	}
	#aboutcnt a {
		font-size: 1em;
		color: black;
	}
	#aboutcnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	#headervac {
		grid-area: headervac;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(245, 153, 74, 1.00);
	}
	.vac {
		display: grid;
		height: 100%;
		width: 100%;
		grid-template-areas: 'headervac' 'snav';
		grid-template-columns: 1fr;
	}
	#vaccnt {
		display: grid;
		margin: 20px 20px;
	}
	#vaccnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	#headerres {
		grid-area: headerres;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(102, 178, 48, 1.00);
	}
	.res {
		display: grid;
		height: 80vh;
		width: 100%;
		grid-template-areas: 'headerres' 'snav';
		grid-template-columns: 1fr;
	}
	#rescnt {
		margin: 20px 20px;
		height: 65vh;
	}
	#headerjae {
		grid-area: headerjae;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(227, 38, 38, 1.00);
	}
	.jae {
		display: grid;
		height: 100%;
		width: 100%;
		grid-template-areas: 'headerjae' 'snav';
		grid-template-columns: 1fr;
	}
	#jaecnt {
		display: grid;
		margin: 20px 20px;
	}
	#jaecnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	#headeroas {
		grid-area: headeroas;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(84, 125, 189, 1.00);
	}
	.oas {
		display: grid;
		height: 100%;
		width: 100%;
		grid-template-areas: 'headeroas' 'snav';
		grid-template-columns: 1fr;
	}
	#oascnt {
		display: grid;
		margin: 20px 20px;
	}
	#oascnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	.newsletter {
		display: grid;
		align-content: center;
		justify-content: center;
		height: 100%;
		max-width: 100%;
		margin-top: 20px;
		background-color: rgba(245, 153, 74, 1.00);
	}
	.newsletter-container {
		text-align: center;
		display: grid;
		align-content: center;
		justify-content: center;
		height: 20%;
		margin: 10px 20px;
		max-width: 100%;
		padding: 10px;
	}
	.newsletter-button {
		text-align: center;
		vertical-align: center;
		display: grid;
		align-content: center;
		justify-content: center;
		height: 10%;
		margin-top: 10px;
		width: 100%;
	}
	.newsletter-container, .newsletter-button {
		color: white;
		background-color: rgba(245, 153, 74, 1.00);
	}
	.newsletter-container input[type=text] {
		width: 100%;
		height: 6vh;
		padding: 20px;
		margin: 10px 0;
		text-align: left;
		border: none;
		border-radius: 1vh;
	}
	.newsletter-button input[type=submit] {
		width: 100%;
		height: 6vh;
		padding: 15px;
		margin: 10px 0;
		text-align: center;
		border: none;
		border-radius: 1vh;
	}
	footer {
		display: grid;
		height: 100%;
		margin: 0 10px;
		max-width: 100%;
		color: black;
		background-color: white;
		grid-template-columns: 1fr;
	}
	.infofooter {
		display: grid;
		margin: 10px;
		grid-template-areas: 'infoabout' 'contact' 'menufooter';
		grid-template-columns: 1fr;
	}
	#address {
		display: grid;
		grid-area: infoabout;
		align-content: center;
		justify-content: center;
		text-align: center;
	}
	#address h3 {
		display: grid;
		justify-content: center;
		align-content: center;
		margin: 10px;
		text-transform: uppercase;
	}
	#logofooter {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-area: logofooter;
	}
	#aboutp {
		display: grid;
		justify-content: center;
		align-content: center;
	}
	#contact {
		grid-area: contact;
		display: grid;
		justify-content: center;
		align-content: center;
		text-align: center;
	}
	#contact h3 {
		text-align: center;
		margin: 10px;
		text-transform: uppercase;
	}
	#menufooter {
		grid-area: menufooter;
		display: inline-grid;
		align-content: center;
		justify-content: center;
		margin: 10px;
	}
	#menufooter h3 {
		display: grid;
		justify-content: center;
		align-content: center;
		text-transform: uppercase;
		margin: 10px;
	}
	#menufooter a {
		display: inline-grid;
		text-decoration: none;
		color: black;
		font-size: 1em;
	}
	#some {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-template-columns: repeat(4, 5vh);
	}
	#copyrighttext {
		display: grid;
		text-align: center;
	}
	#myBtn {
		display: none;
		position: fixed;
		bottom: 40px;
		right: 20px;
		z-index: 99;
		border: none;
		outline: none;
		cursor: pointer;
	}
	#myBtn i {
		font-size: 25px;
		color: black;
	}
}
/* Tablets/Small Desktop */
@media (min-width: 768px) and (max-width: 1024px) {
	header {
		display: grid;
		height: 40vh;
		width: 100%;
		margin: 10px 0;
		grid-template-areas: 'logo' 'nav';
	}
	.logo {
		grid-area: logo;
		display: grid;
		color: white;
		justify-content: center;
		align-content: center;
	}
	.logo a {
		text-decoration: none;
		margin: 0;
	}
	.logo img {
		width: 200px;
	}
	nav {
		grid-area: nav;
		display: grid;
		margin-: 0 10px;
		justify-content: center;
		align-content: center;
		text-align: center;
	}
	nav ul {
		display: grid;
		grid-template-columns: 25vh;
		font-size: 0.9em;
		list-style: none;
	}
	/* The dropdown container */
	.dropdown {
		float: left;
		font-size: 0.9em;
		overflow: hidden;
	}
	/* Dropdown button */
	.dropdown .dropbtn {
		outline: none;
		padding: 10px 10px;
		margin: 0;
	}
	/* Dropdown content (hidden by default) */
	.dropdown-content {
		display: none;
		position: absolute;
		width: 25vh;
		z-index: 1;
	}
	/* Links inside the dropdown */
	.dropdown-content a {
		float: none;
		padding: 10px 10px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	/* Add a grey background color to dropdown links on hover */
	.dropdown-content li:hover {
		opacity: 0.5;
	}
	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
		display: block;
	}
	#search {
		grid-area: search;
		display: none;
		margin-right: 100px;
		justify-content: flex-end;
		align-content: center;
	}
	#slideshow {
		min-height: 60vh;
		width: 100%;
		background: white; /* url('../background/backgrounds-blank-blue.jpg') */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#slideshow h2, #slideshow p {
		display: grid;
		margin: 0;
		justify-content: flex-start;
		align-content: center;
	}
	.text h2 {
		display: grid;
		font-size: 2em;
	}
	.text p {
		display: grid;
		font-size: 1em;
	}
	/* Slideshow container */
	.slidewindow {
		max-width: 100%;
		position: relative;
		margin: auto;
	}
	.slidewindow img {
		height: 50vh;
		width: 100%;
	}
	/* Hide the images by default */
	.mySlides {
		display: none;
	}
	/* Next & previous buttons */
	#prev, #next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -20px;
		padding: 10px;
		color: black;
		font-weight: bold;
		font-size: 1.25em;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}
	/* Position the "next button" to the right */
	#next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}
	/* On hover, add a black background color with a little bit see-through */
	#prev:hover, #next:hover {
		background-color: rgba(0, 0, 0, 0.25);
	}
	/* Caption text */
	.text {
		display: grid;
		color: black;
		padding: 20px 40px;
		position: absolute;
		height: 50vh;
		width: 100%;
		top: 0;
		left: 0;
		align-content: center;
		background-color: rgba(255, 255, 255, 0.85);
	}
	.text a {
		display: grid;
		color: black;
		margin-right: 10px;
		justify-content: flex-end;
	}
	/* Number text (1/3 etc) */
	.numbertext {
		color: black;
		font-size: 15px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}
	/* The dots/bullets/indicators */
	/*.dot {
		display: none;
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 5px;
		background-color: rgba(207, 209, 210, 0.8);
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
	.active, .dot:hover {
		background-color: rgba(156, 158, 159, 0.8);
	}*/
	/* Fading animation */
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}
	#nextpost {
		display: grid;
		justify-content: center;
		align-content: flex-start;
		margin-bottom: 20px;
	}
	#boxes {
		display: grid;
		height: 100%;
		width: 100%;
		grid-template-areas: 'b1 b2' 'b3 b4';
		grid-template-columns: repeat(2, 1fr);
	}
	#box1 {
		grid-area: b1;
		display: grid;
		margin: 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#box2 {
		grid-area: b2;
		display: grid;
		margin: 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#box3 {
		grid-area: b3;
		display: grid;
		margin: 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#box4 {
		grid-area: b4;
		display: grid;
		margin: 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#smallnav {
		grid-area: snav;
		display: block;
		margin: 0 10px;
		font-size: 0.9em;
	}
	#smallnav #navh {
		font-family: PFDinDisplayPro-Light;
		text-decoration: none;
		color: black;
	}
	#smallnav #navf {
		font-family: PFDinDisplayPro-Light;
		text-decoration: none;
		color: black;
		cursor: default;
	}
	#smallnav i {
		display: inline;
		font-size: 0.9em;
		text-decoration: none;
		color: black;
	}
	#smallnav #navactiv {
		display: inline;
		font-family: PFDinDisplayPro-Bold;
		text-decoration: none;
		color: black;
	}
	#headercontact {
		grid-area: headercontact;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 10vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(156, 158, 159, 1.00);
	}
	.contact {
		display: grid;
		height: 100%;
		width: 100%;
		grid-template-areas: 'headercontact' 'snav';
		grid-template-columns: 1fr;
	}
	#contactcnt {
		margin: 20px 20px;
		height: 55vh;
	}
	#contactcnt h3 {
		text-transform: uppercase;
		text-align: center;
	}
	#contactcnt p {
		display: grid;
		justify-content: center;
		animation-delay: center;
	}
	#finducnt {
		display: grid;
		height: 100%;
		margin: 20px 20px;
		grid-template-areas: 'findmap' 'findtext';
		grid-template-columns: 1fr;
	}
	#findmap {
		grid-area: findmap;
		display: grid;
		align-content: center;
		justify-content: center;
	}
	#findmap iframe {
		height: 50vh;
		width: 100%;
		border-style: none;
	}
	#findtext {
		grid-area: findtext;
		display: block;
		margin: 10px 0;
	}
	#findtext p {
		display: inline;
	}
	#headerabout {
		grid-area: headerabout;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(234, 226, 55, 1.00);
	}
	.about {
		display: grid;
		height: 100%;
		width: 100%;
		grid-template-areas: 'headerabout' 'snav';
		grid-template-columns: 1fr;
	}
	#aboutcnt {
		display: grid;
		margin: 20px 20px;
	}
	#aboutcnt a {
		font-size: 1em;
		color: black;
	}
	#aboutcnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	#headervac {
		grid-area: headervac;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(245, 153, 74, 1.00);
	}
	.vac {
		display: grid;
		height: 100%;
		width: 100%;
		grid-template-areas: 'headervac' 'snav';
		grid-template-columns: 1fr;
	}
	#vaccnt {
		display: grid;
		margin: 20px 20px;
	}
	#vaccnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	#headerres {
		grid-area: headerres;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(102, 178, 48, 1.00);
	}
	.res {
		display: grid;
		height: 80vh;
		width: 100%;
		grid-template-areas: 'headerres' 'snav';
		grid-template-columns: 1fr;
	}
	#rescnt {
		margin: 20px 20px;
		height: 65vh;
	}
	#headerjae {
		grid-area: headerjae;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(227, 38, 38, 1.00);
	}
	.jae {
		display: grid;
		height: 100%;
		width: 100%;
		grid-template-areas: 'headerjae' 'snav';
		grid-template-columns: 1fr;
	}
	#jaecnt {
		display: grid;
		margin: 20px 20px;
	}
	#jaecnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	#headeroas {
		grid-area: headeroas;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(84, 125, 189, 1.00);
	}
	.oas {
		display: grid;
		height: 100%;
		width: 100%;
		grid-template-areas: 'headeroas' 'snav';
		grid-template-columns: 1fr;
	}
	#oascnt {
		display: grid;
		margin: 20px 20px;
	}
	#oascnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	.newsletter {
		display: grid;
		align-content: center;
		justify-content: center;
		height: 70vh;
		max-width: 100%;
		margin-top: 20px;
		background-color: rgba(245, 153, 74, 1.00);
	}
	.newsletter-container {
		text-align: center;
		display: grid;
		align-content: center;
		justify-content: center;
		height: 20%;
		margin: 10px 20px;
		max-width: 100%;
		padding: 10px;
	}
	.newsletter-button {
		text-align: center;
		vertical-align: center;
		display: grid;
		align-content: center;
		justify-content: center;
		height: 10vh;
		margin-top: 10px;
		width: 100%;
	}
	.newsletter-container, .newsletter-button {
		color: white;
		background-color: rgba(245, 153, 74, 1.00);
	}
	.newsletter-container input[type=text] {
		width: 50vw;
		height: 6vh;
		padding: 20px;
		margin: 10px 0;
		text-align: left;
		border: none;
		border-radius: 1vh;
	}
	.newsletter-button input[type=submit] {
		width: 15vw;
		height: 5vh;
		padding: 15px;
		margin: 10px 0;
		text-align: center;
		border: none;
		border-radius: 1vh;
	}
	footer {
		display: grid;
		height: 30vh;
		margin: 0 10px;
		max-width: 100%;
		color: black;
		background-color: white;
		grid-template-columns: 1fr;
	}
	.infofooter {
		display: grid;
		margin: 10px;
		grid-template-areas: 'infoabout contact menufooter';
		grid-template-columns: repeat(3, 1fr);
	}
	#address {
		display: grid;
		grid-area: infoabout;
		align-content: center;
		justify-content: center;
		text-align: left;
	}
	#address h3 {
		display: grid;
		justify-content: center;
		align-content: center;
		margin: 10px;
		text-transform: uppercase;
	}
	#logofooter {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-area: logofooter;
	}
	#aboutp {
		display: grid;
		justify-content: center;
		align-content: center;
	}
	#contact {
		grid-area: contact;
		display: grid;
		justify-content: center;
		align-content: center;
		text-align: left;
	}
	#contact h3 {
		text-align: center;
		margin: 10px;
		text-transform: uppercase;
	}
	#menufooter {
		grid-area: menufooter;
		display: inline-grid;
		align-content: center;
		justify-content: center;
		margin: 10px;
	}
	#menufooter h3 {
		display: grid;
		justify-content: center;
		align-content: center;
		text-transform: uppercase;
		margin: 10px;
	}
	#menufooter a {
		display: inline-grid;
		text-decoration: none;
		color: black;
		font-size: 1em;
	}
	#some {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-template-columns: repeat(4, 5vh);
	}
	#copyrighttext {
		display: grid;
		text-align: center;
	}
	#myBtn {
		display: none;
		position: fixed;
		bottom: 40px;
		right: 20px;
		z-index: 99;
		border: none;
		outline: none;
		cursor: pointer;
	}
	#myBtn i {
		font-size: 25px;
		color: black;
	}
}
/* Small Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {
	header {
		display: grid;
		height: 20vh;
		width: 100%;
		margin: 10px 0;
		grid-template-areas: 'logo nav search';
	}
	.logo {
		grid-area: logo;
		display: grid;
		color: white;
		margin-left: 150px;
		justify-content: flex-start;
		align-content: center;
	}
	.logo a {
		text-decoration: none;
		margin: 0;
	}
	.logo img {
		width: 200px;
		margin: 10px 0;
	}
	nav {
		grid-area: nav;
		display: grid;
		margin-: 0 10px;
		justify-content: center;
		align-content: center;
		text-align: center;
	}
	nav ul {
		display: grid;
		grid-template-columns: repeat(6, 20vh);
		list-style: none;
	}
	/* The dropdown container */
	.dropdown {
		float: left;
		overflow: hidden;
	}
	/* Dropdown button */
	.dropdown .dropbtn {
		outline: none;
		padding: 10px 10px;
		margin: 0;
	}
	/* Dropdown content (hidden by default) */
	.dropdown-content {
		display: none;
		position: absolute;
		width: 20vh;
		z-index: 1;
	}
	/* Links inside the dropdown */
	.dropdown-content a {
		float: none;
		padding: 10px 10px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	/* Add a grey background color to dropdown links on hover */
	.dropdown-content li:hover {
		opacity: 0.5;
	}
	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
		display: block;
	}
	#search {
		grid-area: search;
		display: grid;
		margin: 20px 150px 20px 20px;
		justify-content: center;
		align-content: center;
		text-align: center;
		grid-template-columns: 1fr;
	}
	#slideshow {
		height: 80vh;
		width: 100%;
		background: white; /* url('../background/backgrounds-blank-blue.jpg') */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#slideshow h1, #slideshow p {
		display: grid;
		margin: 0 150px;
		justify-content: center;
		align-content: center;
	}
	/* Slideshow container */
	.slidewindow {
		max-width: 100%;
		position: relative;
		margin: auto;
	}
	.slidewindow img {
		height: 60vh;
		width: 50%;
	}
	/* Hide the images by default */
	.mySlides {
		display: none;
	}
	/* Next & previous buttons */
	#prev, #next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -20px;
		padding: 10px;
		color: black;
		font-weight: bold;
		font-size: 1.5em;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}
	/* Position the "next button" to the right */
	#next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}
	/* On hover, add a black background color with a little bit see-through */
	#prev:hover, #next:hover {
		background-color: rgba(0, 0, 0, 0.25);
	}
	/* Caption text */
	.text {
		display: grid;
		color: black;
		padding: 20px 40px;
		position: absolute;
		height: 60vh;
		width: 50%;
		top: 0;
		left: 50%;
		align-content: center;
		background-color: rgba(255, 255, 255, 0.75);
	}
	.text a {
		display: grid;
		color: black;
		justify-content: flex-end;
	}
	/* Number text (1/3 etc) */
	.numbertext {
		color: black;
		font-size: 15px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}
	/* The dots/bullets/indicators */
	.dot {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 5px;
		background-color: rgba(207, 209, 210, 0.8);
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
	.active, .dot:hover {
		background-color: rgba(156, 158, 159, 0.8);
	}
	/* Fading animation */
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}
	#nextpost {
		display: grid;
		justify-content: center;
		align-content: flex-end;
		margin-top: 20px;
	}
	#boxes {
		display: grid;
		height: 40vh;
		max-width: 100%;
		margin: 20px 150px;
		grid-template-areas: 'b1 b2 b3 b4';
		grid-template-columns: repeat(4, 1fr);
	}
	#box1 {
		grid-area: b1;
		display: grid;
		margin-right: 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#box2 {
		grid-area: b2;
		display: grid;
		margin: 0 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#box3 {
		grid-area: b3;
		display: grid;
		margin: 0 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#box4 {
		grid-area: b4;
		display: grid;
		margin-left: 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#smallnav {
		grid-area: snav;
		display: block;
		margin: 0 150px;
		font-size: 0.9em;
	}
	#smallnav #navh {
		font-family: PFDinDisplayPro-Light;
		text-decoration: none;
		color: black;
	}
	#smallnav #navf {
		font-family: PFDinDisplayPro-Light;
		text-decoration: none;
		color: black;
		cursor: default;
	}
	#smallnav i {
		display: inline;
		font-size: 0.9em;
		text-decoration: none;
		color: black;
	}
	#smallnav #navactiv {
		display: inline;
		font-family: PFDinDisplayPro-Bold;
		text-decoration: none;
		color: black;
	}
	#headercontact {
		grid-area: headercontact;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(156, 158, 159, 1.00);
	}
	.contact {
		display: grid;
		height: 80vh;
		grid-template-areas: 'headercontact' 'snav';
		grid-template-columns: 1fr;
	}
	#contactcnt {
		margin: 20px 150px;
		height: 65vh;
	}
	#contactcnt h3 {
		text-transform: uppercase;
		text-align: center;
	}
	#contactcnt p {
		display: grid;
		justify-content: center;
		animation-delay: center;
	}
	#finducnt {
		display: grid;
		height: 65vh;
		margin: 20px 150px;
		grid-template-areas: 'findmap findtext';
		grid-template-columns: 1fr 2fr;
	}
	#findmap {
		grid-area: findmap;
		display: grid;
		align-content: flex-start;
		justify-content: flex-start;
	}
	#findmap iframe {
		height: 50vh;
		width: 30vw;
		border-style: none;
	}
	#findtext {
		grid-area: findtext;
		display: block;
		margin: 0 10px;
	}
	#findtext p {
		display: inline;
	}
	#headerabout {
		grid-area: headerabout;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(234, 226, 55, 1.00);
	}
	.about {
		display: grid;
		height: 100%;
		grid-template-areas: 'headerabout' 'snav';
		grid-template-columns: 1fr;
	}
	#aboutcnt {
		display: grid;
		margin: 20px 150px;
	}
	#aboutcnt a {
		font-size: 1em;
		color: black;
	}
	#aboutcnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	#headervac {
		grid-area: headervac;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(245, 153, 74, 1.00);
	}
	.vac {
		display: grid;
		height: 100%;
		grid-template-areas: 'headervac' 'snav';
		grid-template-columns: 1fr;
	}
	#vaccnt {
		display: grid;
		margin: 20px 150px;
	}
	#vaccnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	#headerres {
		grid-area: headerres;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(102, 178, 48, 1.00);
	}
	.res {
		display: grid;
		height: 80vh;
		grid-template-areas: 'headerres' 'snav';
		grid-template-columns: 1fr;
	}
	#rescnt {
		margin: 20px 150px;
		height: 65vh;
	}
	#headerjae {
		grid-area: headerjae;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(227, 38, 38, 1.00);
	}
	.jae {
		display: grid;
		height: 100%;
		grid-template-areas: 'headerjae' 'snav';
		grid-template-columns: 1fr;
	}
	#jaecnt {
		display: grid;
		margin: 20px 150px;
	}
	#jaecnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	#headeroas {
		grid-area: headeroas;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(84, 125, 189, 1.00);
	}
	.oas {
		display: grid;
		height: 100%;
		grid-template-areas: 'headeroas' 'snav';
		grid-template-columns: 1fr;
	}
	#oascnt {
		display: grid;
		margin: 20px 150px;
	}
	#oascnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	.newsletter {
		display: grid;
		align-content: center;
		justify-content: center;
		height: 60vh;
		max-width: 100%;
		margin-top: 20px;
		background-color: rgba(245, 153, 74, 1.00);
	}
	.newsletter-container {
		text-align: center;
		display: grid;
		align-content: center;
		justify-content: center;
		height: 20vh;
		margin-top: 10px;
		width: 50vw;
		padding: 10px;
	}
	.newsletter-button {
		text-align: center;
		display: grid;
		align-content: center;
		justify-content: center;
		height: 10vh;
		margin-top: 10px;
		width: 50vw;
	}
	.newsletter-container, .newsletter-button {
		color: white;
		background-color: rgba(245, 153, 74, 1.00);
	}
	.newsletter-container input[type=text] {
		width: 25vw;
		height: 4vh;
		padding: 20px;
		margin: 10px 0;
		text-align: left;
		border: none;
		border-radius: 1vh;
	}
	.newsletter-button input[type=submit] {
		width: 8vw;
		height: 4vh;
		padding: 10px;
		margin: 10px 0;
		text-align: center;
		border: none;
		border-radius: 1vh;
	}
	footer {
		display: grid;
		height: 40vh;
		margin: 0 150px;
		max-width: 100%;
		color: black;
		background-color: white;
		grid-template-columns: 1fr;
	}
	.infofooter {
		display: grid;
		margin: 50px 0;
		grid-template-areas: 'infoabout contact menufooter';
		grid-template-columns: repeat(3, 1fr);
	}
	#address {
		display: grid;
		grid-area: infoabout;
		align-content: flex-start;
		justify-content: flex-start;
	}
	#address h3 {
		display: grid;
		justify-content: flex-start;
		align-content: flex-start;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	#logofooter {
		display: grid;
		justify-content: flex-start;
		align-content: flex-start;
		grid-area: logofooter;
	}
	#aboutp {
		display: grid;
		justify-content: flex-start;
		align-content: flex-start;
	}
	#contact {
		grid-area: contact;
		display: grid;
		justify-content: center;
		align-content: flex-start;
		text-align: left;
	}
	#contact h3 {
		text-align: center;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	#menufooter {
		grid-area: menufooter;
		display: inline-grid;
		align-content: flex-start;
		justify-content: flex-end;
	}
	#menufooter h3 {
		display: grid;
		justify-content: flex-end;
		align-content: flex-start;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	#menufooter a {
		display: inline-grid;
		text-decoration: none;
		color: black;
		font-size: 1em;
	}
	#some {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-template-columns: repeat(4, 5vh);
	}
	#copyrighttext {
		display: grid;
		text-align: center;
	}
	#myBtn {
		display: none;
		position: fixed;
		bottom: 10px;
		right: 30px;
		z-index: 99;
		border: none;
		outline: none;
		cursor: pointer;
	}
	#myBtn i {
		font-size: 25px;
		color: black;
	}
}
/* Desktop */
@media (min-width: 1281px) {
	header {
		display: grid;
		height: 20vh;
		width: 100%;
		margin: 10px 0;
		grid-template-areas: 'logo nav search';
	}
	.logo {
		grid-area: logo;
		display: grid;
		color: white;
		margin-left: 150px;
		justify-content: flex-start;
		align-content: center;
	}
	.logo a {
		text-decoration: none;
		margin: 0;
	}
	.logo img {
		width: 200px;
		margin: 10px 0;
	}
	nav {
		grid-area: nav;
		display: grid;
		margin-: 0 10px;
		justify-content: center;
		align-content: center;
		text-align: center;
	}
	nav ul {
		display: grid;
		grid-template-columns: repeat(6, 20vh);
		list-style: none;
	}
	/* The dropdown container */
	.dropdown {
		float: left;
		overflow: hidden;
	}
	/* Dropdown button */
	.dropdown .dropbtn {
		outline: none;
		padding: 10px 10px;
		margin: 0;
	}
	/* Dropdown content (hidden by default) */
	.dropdown-content {
		display: none;
		position: absolute;
		width: 20vh;
		z-index: 1;
	}
	/* Links inside the dropdown */
	.dropdown-content a {
		float: none;
		padding: 10px 10px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	/* Add a grey background color to dropdown links on hover */
	.dropdown-content li:hover {
		opacity: 0.5;
	}
	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
		display: block;
	}
	#search {
		grid-area: search;
		display: grid;
		margin: 20px 150px 20px 20px;
		justify-content: center;
		align-content: center;
		text-align: center;
		grid-template-columns: 1fr;
	}
	#slideshow {
		height: 80vh;
		width: 100%;
		background: white; /* url('../background/backgrounds-blank-blue.jpg') */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#slideshow h1, #slideshow p {
		display: grid;
		margin: 0 150px;
		justify-content: center;
		align-content: center;
	}
	/* Slideshow container */
	.slidewindow {
		max-width: 100%;
		position: relative;
		margin: auto;
	}
	.slidewindow img {
		height: 60vh;
		width: 50%;
	}
	/* Hide the images by default */
	.mySlides {
		display: none;
	}
	/* Next & previous buttons */
	#prev, #next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -20px;
		padding: 10px;
		color: black;
		font-weight: bold;
		font-size: 1.5em;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}
	/* Position the "next button" to the right */
	#next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}
	/* On hover, add a black background color with a little bit see-through */
	#prev:hover, #next:hover {
		background-color: rgba(0, 0, 0, 0.25);
	}
	/* Caption text */
	.text {
		display: grid;
		color: black;
		padding: 20px 40px;
		position: absolute;
		height: 60vh;
		width: 50%;
		top: 0;
		left: 50%;
		align-content: center;
		background-color: rgba(255, 255, 255, 0.75);
	}
	.text a {
		display: grid;
		color: black;
		justify-content: flex-end;
	}
	/* Number text (1/3 etc) */
	.numbertext {
		color: black;
		font-size: 15px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}
	/* The dots/bullets/indicators */
	.dot {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 5px;
		background-color: rgba(207, 209, 210, 0.8);
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
	.active, .dot:hover {
		background-color: rgba(156, 158, 159, 0.8);
	}
	/* Fading animation */
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}
	#nextpost {
		display: grid;
		justify-content: center;
		align-content: flex-end;
		margin-top: 20px;
	}
	#boxes {
		display: grid;
		height: 40vh;
		max-width: 100%;
		margin: 20px 150px;
		grid-template-areas: 'b1 b2 b3 b4';
		grid-template-columns: repeat(4, 1fr);
	}
	#box1 {
		grid-area: b1;
		display: grid;
		margin-right: 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#box2 {
		grid-area: b2;
		display: grid;
		margin: 0 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#box3 {
		grid-area: b3;
		display: grid;
		margin: 0 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#box4 {
		grid-area: b4;
		display: grid;
		margin-left: 10px;
		border: 2px solid rgba(207, 209, 210, 1.0);
		padding: 10px 20px;
	}
	#smallnav {
		grid-area: snav;
		display: block;
		margin: 0 150px;
		font-size: 0.9em;
	}
	#smallnav #navh {
		font-family: PFDinDisplayPro-Light;
		text-decoration: none;
		color: black;
	}
	#smallnav #navf {
		font-family: PFDinDisplayPro-Light;
		text-decoration: none;
		color: black;
		cursor: default;
	}
	#smallnav i {
		display: inline;
		font-size: 0.9em;
		text-decoration: none;
		color: black;
	}
	#smallnav #navactiv {
		display: inline;
		font-family: PFDinDisplayPro-Bold;
		text-decoration: none;
		color: black;
	}
	#headercontact {
		grid-area: headercontact;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(156, 158, 159, 1.00);
	}
	.contact {
		display: grid;
		height: 80vh;
		grid-template-areas: 'headercontact' 'snav';
		grid-template-columns: 1fr;
	}
	#contactcnt {
		margin: 20px 150px;
		height: 65vh;
	}
	#contactcnt h3 {
		text-transform: uppercase;
		text-align: center;
	}
	#contactcnt p {
		display: grid;
		justify-content: center;
		animation-delay: center;
	}
	#finducnt {
		display: grid;
		height: 65vh;
		margin: 20px 150px;
		grid-template-areas: 'findmap findtext';
		grid-template-columns: 1fr 2fr;
	}
	#findmap {
		grid-area: findmap;
		display: grid;
		align-content: flex-start;
		justify-content: flex-start;
	}
	#findmap iframe {
		height: 50vh;
		width: 30vw;
		border-style: none;
	}
	#findtext {
		grid-area: findtext;
		display: block;
		margin: 0 10px;
	}
	#findtext p {
		display: inline;
	}
	#headerabout {
		grid-area: headerabout;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(234, 226, 55, 1.00);
	}
	.about {
		display: grid;
		height: 100%;
		grid-template-areas: 'headerabout' 'snav';
		grid-template-columns: 1fr;
	}
	#aboutcnt {
		display: grid;
		margin: 20px 150px;
	}
	#aboutcnt a {
		font-size: 1em;
		color: black;
	}
	#aboutcnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	#headervac {
		grid-area: headervac;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(245, 153, 74, 1.00);
	}
	.vac {
		display: grid;
		height: 100%;
		grid-template-areas: 'headervac' 'snav';
		grid-template-columns: 1fr;
	}
	#vaccnt {
		display: grid;
		margin: 20px 150px;
	}
	#vaccnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	#headerres {
		grid-area: headerres;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(102, 178, 48, 1.00);
	}
	.res {
		display: grid;
		height: 80vh;
		grid-template-areas: 'headerres' 'snav';
		grid-template-columns: 1fr;
	}
	#rescnt {
		margin: 20px 150px;
		height: 65vh;
	}
	#headerjae {
		grid-area: headerjae;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(227, 38, 38, 1.00);
	}
	.jae {
		display: grid;
		height: 100%;
		grid-template-areas: 'headerjae' 'snav';
		grid-template-columns: 1fr;
	}
	#jaecnt {
		display: grid;
		margin: 20px 150px;
	}
	#jaecnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	#headeroas {
		grid-area: headeroas;
		display: grid;
		justify-content: center;
		align-content: center;
		height: 15vh;
		color: white;
		text-transform: uppercase;
		background-color: rgba(84, 125, 189, 1.00);
	}
	.oas {
		display: grid;
		height: 100%;
		grid-template-areas: 'headeroas' 'snav';
		grid-template-columns: 1fr;
	}
	#oascnt {
		display: grid;
		margin: 20px 150px;
	}
	#oascnt ul {
		list-style: outside;
		list-style-type: circle;
		margin: 0 20px;
	}
	.newsletter {
		display: grid;
		align-content: center;
		justify-content: center;
		height: 60vh;
		max-width: 100%;
		margin-top: 20px;
		background-color: rgba(245, 153, 74, 1.00);
	}
	.newsletter-container {
		text-align: center;
		display: grid;
		align-content: center;
		justify-content: center;
		height: 20vh;
		margin-top: 10px;
		width: 50vw;
		padding: 10px;
	}
	.newsletter-button {
		text-align: center;
		display: grid;
		align-content: center;
		justify-content: center;
		height: 10vh;
		margin-top: 10px;
		width: 50vw;
	}
	.newsletter-container, .newsletter-button {
		color: white;
		background-color: rgba(245, 153, 74, 1.00);
	}
	.newsletter-container input[type=text] {
		width: 25vw;
		height: 4vh;
		padding: 20px;
		margin: 10px 0;
		text-align: left;
		border: none;
		border-radius: 1vh;
	}
	.newsletter-button input[type=submit] {
		width: 8vw;
		height: 4vh;
		padding: 10px;
		margin: 10px 0;
		text-align: center;
		border: none;
		border-radius: 1vh;
	}
	footer {
		display: grid;
		height: 40vh;
		margin: 0 150px;
		max-width: 100%;
		color: black;
		background-color: white;
		grid-template-columns: 1fr;
	}
	.infofooter {
		display: grid;
		margin: 50px 0;
		grid-template-areas: 'infoabout contact menufooter';
		grid-template-columns: repeat(3, 1fr);
	}
	#address {
		display: grid;
		grid-area: infoabout;
		align-content: flex-start;
		justify-content: flex-start;
	}
	#address h3 {
		display: grid;
		justify-content: flex-start;
		align-content: flex-start;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	#logofooter {
		display: grid;
		justify-content: flex-start;
		align-content: flex-start;
		grid-area: logofooter;
	}
	#aboutp {
		display: grid;
		justify-content: flex-start;
		align-content: flex-start;
	}
	#contact {
		grid-area: contact;
		display: grid;
		justify-content: center;
		align-content: flex-start;
		text-align: left;
	}
	#contact h3 {
		text-align: center;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	#menufooter {
		grid-area: menufooter;
		display: inline-grid;
		align-content: flex-start;
		justify-content: flex-end;
	}
	#menufooter h3 {
		display: grid;
		justify-content: flex-end;
		align-content: flex-start;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	#menufooter a {
		display: inline-grid;
		text-decoration: none;
		color: black;
		font-size: 1em;
	}
	#some {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-template-columns: repeat(4, 5vh);
	}
	#copyrighttext {
		display: grid;
		text-align: center;
	}
	#myBtn {
		display: none;
		position: fixed;
		bottom: 10px;
		right: 30px;
		z-index: 99;
		border: none;
		outline: none;
		cursor: pointer;
	}
	#myBtn i {
		font-size: 25px;
		color: black;
	}
}
/* End CSS Document */